/*Propiedades especificas a Home*/

main {
    background-color: hsl(315,100%,93%);
    section {
        div {
            .col-3 {
                background-color: hsl(270, 100%, 89%);
            }
        }
        div {
            .img-inicio {
                width: 100%;
                height: 100%;
            }
        }
    }
}


